html,
body {
  height: 100%;
  height: -webkit-fill-available;
}

* {
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  /* background: url("/img/background_01.jpg")
    center center fixed; */
  overflow: visible;
}

#content {
  overflow: none;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/img/background_03.jpg");
}

#row1 {
  width: 500px;
  height: 500px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#row1 img {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}